<div class="container"
     fxFlexLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap.xs="50px">

     <div fxFlex="40">
        <mat-card>
            <mat-card-header>
                <mat-card-title><span>{{ dish.name | uppercase }}</span></mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{dish.image}} alt={{dish.name}}>
            <mat-card-content>
                <p>{{ dish.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Like</button>
                <button mat-button>Share</button>
                <button mat-button (click)="goBack()">Back</button>
            </mat-card-actions>
        </mat-card>
     </div>

     <div fxFlex="40">
        <h2>Comments</h2>
        <mat-list>
            <mat-list-item *ngFor="let comment of dish.comments">
                <div matLine>{{ comment.comment }}</div>
                <div matLine>{{ comment.rating }} stars</div>
                <div matLine>--{{ comment.author }} {{ comment.date | date }} </div>    
            </mat-list-item>
        </mat-list>
     </div>
</div>